server:
  port: 18085

spring:
  jackson:
    date-format: com.fasterxml.jackson.databind.util.ISO8601DateFormat
  profiles:
    active: local
  datasource:
    url: jdbc:h2:mem:test;DB_CLOSE_ON_EXIT=TRUE;INIT=RUNSCRIPT FROM 'classpath:scripts/user.sql';INIT=RUNSCRIPT FROM 'classpath:scripts/user.sql'
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-db
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: none

security:
  basic:
    enable: false
  oauth2:
    client:
      client-id: demo
      client-secret: demo
      scope: demoScope
    authorization:
      check-token-access: permitAll()
    resource:
      id: authServerResource      
logging:
  level:
    org.springframework.security: DEBUG